@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/*

  Reset Style

  */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*

Basic Styles

*/

html {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #ffffff;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/ISOLA_DI_PANTELLERIA_-_panoramio.jpg/1600px-ISOLA_DI_PANTELLERIA_-_panoramio.jpg?20170208184330);
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: cover;
}

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}

a:hover,
a:active {
  text-decoration: none;
  background-color: #104496;
}

.logotype-wrapper {
  position: fixed;
  top: 20%;
  left: 15%;
  display: flex;
  flex-direction: row;
  border-color: green;
  width: 75%;
}

.logotype {
  width: 100%;
}

.login-botton-wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  border-color: green;
  left: 47%;
  top: 75%;
  justify-content: space-around;
}

:root {
  --paragraph-text-dimension: 1em;
  --paragraph-text-line-height: 2em;
}

.login-botton {
  font-size: calc(var(--paragraph-text-dimension)*1.236);
}

/* responsive behavior*/

/* device breakpoint*/


@media screen and (min-device-width: 2900px) and (max-device-width: 3000px) {

  html {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/ISOLA_DI_PANTELLERIA_-_panoramio.jpg/1600px-ISOLA_DI_PANTELLERIA_-_panoramio.jpg?20170208184330);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: cover;
}

  .logotype-wrapper {
  position: fixed;
  top: 20%;
  left: 15%;
  display: flex;
  flex-direction: row;
  border-color: green;
  width: 75%;
}

  .login-botton-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    border-color: green;
    left: 45%;
    top: 70%;
    justify-content: space-around;
  }


  .login-botton {
    font-size: calc(var(--paragraph-text-dimension)*2);
  }
}




@media screen and (min-device-width: 700px) and (max-device-width: 1024px) {

  html {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/ISOLA_DI_PANTELLERIA_-_panoramio.jpg/1600px-ISOLA_DI_PANTELLERIA_-_panoramio.jpg?20170208184330);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: cover;
}

  .logotype-wrapper {
    position: fixed;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: row;
    border-color: green;
    width: 90%;
  }

  .login-botton-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    border-color: green;
    left: 45%;
    top: 70%;
    justify-content: space-around;
  }


  .login-botton {
    font-size: calc(var(--paragraph-text-dimension)*1.236);
  }
}



@media screen and (min-device-width: 800px) and (max-device-width: 1000px) {

  html {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/ISOLA_DI_PANTELLERIA_-_panoramio.jpg/1600px-ISOLA_DI_PANTELLERIA_-_panoramio.jpg?20170208184330);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: cover;
}

  .logotype-wrapper {
    position: fixed;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: row;
    border-color: green;
    width: 70%;
  }

  .login-botton-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    border-color: green;
    left: 45%;
    top: 80%;
    justify-content: space-around;
  }


  .login-botton {
    font-size: calc(var(--paragraph-text-dimension)*1.236);
  }
}


@media screen and (min-device-width: 320px) and (max-device-width: 700px) {

  html {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/ISOLA_DI_PANTELLERIA_-_panoramio.jpg/1600px-ISOLA_DI_PANTELLERIA_-_panoramio.jpg?20170208184330);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: cover;
}

  .logotype-wrapper {
    position: fixed;
    top: 30%;
    left: 5%;
    display: flex;
    flex-direction: row;
    border-color: green;
    width: 90%;
  }

  .login-botton-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    border-color: green;
    left: 45%;
    top: 70%;
    justify-content: space-around;
  }


  .login-botton {
    font-size: calc(var(--paragraph-text-dimension)*2.427);
  }
}
